.sidebarWrapper {
    background-color: #d3d3d3;
    padding: 20px;
    display: grid;
    justify-items: center;
    align-content: space-between;
}

.imageLink img {
    background-color: #008b8b;
    min-width: 150px;
    min-height: 150px;
    max-width: 100%;
}

.asideLink {
    text-decoration: none;
    color: #050505;
    font-size: 14pt;
}

@media (max-width: 700px) {
    .sidebarWrapper {
        padding: 10px;
    }
}