.sidebarWrapper {
    background-color: #d3d3d3;
    padding: 20px;
    display: grid;
    justify-items: center;
    align-content: space-between;
}

.item {
    background-color: #008b8b;
}

.image {
    width: 60px;
    height: 60px;
}

.link {
    text-decoration: none;
    color: #050505;
    font-size: 14pt;
}

@media (max-width: 700px) {
    .sidebarWrapper {
        padding: 10px;
    }
}