.paginationPerPage {
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.paginationPerPage > div {
    font-size: 13pt;
    text-align: right;
    margin: auto 10px auto 0;
}

.paginationPerPage > select {
    font-size: 13pt;
    height: 30px;
    border: 1px solid #000;
}

.paginationPage {
    margin: auto 5px;
    font-size: 18pt;
    cursor: pointer;
}

.selectedPage {
    margin: auto 5px;
    font-size: 20pt;
    color: #d2691e;
    cursor: pointer;
}